.box {
	width: 360px;
	height: 570px;
	border: 2px double black;
	float: left;
	background-color: #D3D3D3;
	color: black;
	font-style: bold;
	margin: 10px;
	padding: 10px;
	border-radius: 20px;
	font-family: 'Anaheim', sans-serif;
}